<div class="footer-color-bg">
    <footer class="footer-wrapper">
        <div class="container">
            <div class="footer-top">
                <div class="footer-menu-box">
                    <h4>ABOUT US</h4>
                    <ul>
                        <li><a href="">Company Profile</a></li>
                        <li><a href="">Awards & Certifications</a></li>
                        <li><a href="">Our Practice</a></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">Support </a></li>
                    </ul>
                </div>
                <div class="footer-menu-box">
                    <h4>Our Practices</h4>
                    <ul class="">
                        <li><a href="">Ayurveda</a></li>
                        <li><a href="">Home Remedies</a></li>
                        <li><a href="">Yoga</a></li>
                        <li><a href="">Health Solutions</a></li>
                        <li><a href="">Siddha Naturopathy </a></li>
                    </ul>
                </div>
                <div class="footer-menu-box">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="">Find an Expert </a></li>
                        <li><a href=""> Store</a></li>
                        <li><a href="">Community</a></li>
                        <li><a href="">Health Articles</a></li>
                        <li><a href="">FAQ </a></li>
                    </ul>
                </div>
                <div class="footer-menu-box">
                    <h4>OTHERS</h4>
                    <ul>
                        <li><a href="">Returns Policy</a></li>
                        <li><a href=""> Refund Policy </a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Terms & Conditions</a></li>
                        <li><a href="">Site Map</a></li>
                    </ul>
                </div>
                <div class="footer-menu-box follow-us">
                    <h4>Follow us on</h4>
                    <ul>
                        <li class="pe-1">
                            <a href="" class="social-icon">
                                <img src="../../../assets/images/facebook.svg">
                            </a>
                        </li>
                        <li class="pe-1"><a href="" class="social-icon"><img
                                    src="../../../assets/images/twitter.svg"></a></li>
                        <li class="pe-1"><a href="" class="social-icon"><img
                                    src="../../../assets/images/linkedin.svg"></a></li>
                        <li class="pe-1"><a href="" class="social-icon"><img
                                    src="../../../assets/images/youtube.svg"></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="footer-address">
                    <p>Building number 001, B Block, Industrial Area, Chennai, 600001</p>
                </div>
                <div class="footer-address pe-4">
                    <a href="#">care@healthgiggles.com</a>
                </div>
                <div class="footer-copyright">
                    <p>Copyright &copy; 2021, Konnectgen. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </footer>
</div>