<div class="navbar-block">
  <header class="header-nav">
    <div class="row">
      <div class="col-md-4 col-lg-2 col-xl-6"></div>
      <div class="col-md-4 col-lg-2 col-xl-5">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <ul class="list-inline" *ngFor="let item of topNav; let i = index">
              <li class="list-inline-item top-nav">
                <a href="#"
                  ><span class="p-1">{{ item.name }} </span></a
                >
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-lg-2 col-xl-1"></div>
      <div class="col-md-4 col-lg-2 col-xl-10">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">HealthGiggles</a>
            </div>
            <ul class="list-inline" *ngFor="let item of navList; let i = index">
              <li class="list-inline-item nav-list">
                <a href="#">{{ item.name }}</a>
              </li>
            </ul>
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#"><i class="fa fa-search" aria-hidden="true"></i> </a>
              </li>
              <li class="list-inline-item p-2">
                <a href="#"><i class="fa fa-shopping-cart"></i>
                  <span class="badge bg-danger text-white">{{totalItem}}</span></a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="col-md-4 col-lg-2 col-xl-1"></div>
    </div>
    <hr class="hr-line" />
    <div class="row">
        <div class="col-lg-2 col-sm-2 col-xs-2"></div>
        <div class="col-lg-2 col-sm-2 col-xs-2">
          <div class="dropdown">
            <a
              class="dropdown-toggle text-white"
              type="button"
              data-toggle="dropdown"
              >Home Remedies <span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-1 col-sm-1 col-xs-1">
          <div class="dropdown">
            <a
              class="dropdown-toggle text-white"
              type="button"
              data-toggle="dropdown"
            >
              Hot Topic <span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-1 col-sm-1 col-xs-1">
          <div class="dropdown">
            <a
              class="dropdown-toggle text-white"
              type="button"
              data-toggle="dropdown"
              >Women Care <span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-1 col-sm-1 col-xs-1 px-4">
          <div class="dropdown">
            <a
              class="dropdown-toggle text-white"
              type="button"
              data-toggle="dropdown"
              >Fitness <span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-sm-2 col-xs-2">
          <div class="dropdown">
            <a
              class="dropdown-toggle text-white"
              type="button"
              data-toggle="dropdown"
              >Diet Managment <span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-sm-2 col-xs-2">
          <div class="dropdown">
            <a
              class="dropdown-toggle text-white"
              type="button"
              data-toggle="dropdown"
              >Human Anatomy <span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
            </ul>
          </div>
        </div>
      </div>
    
      
</header>
</div>
