<div class="page-content">
  <br /><br />
  <div class="row">
    <div class="col-md-4 col-lg-6 col-xl-5"></div>
    <div class="col-md-4 col-lg-6 col-xl-6">
      <h3 class="thank-you">Thank You</h3>
    </div>
  </div>
  <br /><br />
  <div class="row">
    <div class="col-md-4 col-lg-6 col-xl-1"></div>
    <div class="col-md-4 col-lg-6 col-xl-10">
      <p>
        <span class="order-no"
          >Your order was received! Order No. AYCPV02314</span
        >
        <span class="back-to-shopping mt-3"><a [routerLink]="['/product']">Back to shopping</a></span>
      </p>
      <p class="text-muted">
        We’ll let you know when it ships and is headed your way.
      </p>
      <hr />
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-4 col-lg-6 col-xl-1"></div>
    <div class="col-md-4 col-lg-6 col-xl-3">
      <div class="order-name"></div>
      <br />
      <div class="order-name"></div>
      <br />
      <div class="order-name"></div>
      <br>

    </div>
    <div class="col-md-4 col-lg-6 col-xl-3"></div>
    <div class="col-md-4 col-lg-6 col-xl-3">
      <p>Total Charges</p>
      <hr />
      <p>Subtotal</p>
      <p>Tax (calculated in checkout)</p>
      <p>Coupon Discount</p>
      <p>Shipping (free standard over $40)</p>
      <p>Giggle Points</p>
      <hr>
      <p>Estimated Total</p>
    </div>
    <br>
    <hr>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4 col-lg-6 col-xl-1"></div>
    <div class="col-md-4 col-lg-6 col-xl-10">
        <hr>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4 col-lg-6 col-xl-1"></div>
    <div class="col-md-4 col-lg-6 col-xl-3">
        <p>Your order will be shipped to:</p>
        <p>konnectgen No.380, PATC Quarters, Karaippettai, Kancheepuram Kancheepuram TN 631552 IN</p>
    </div>
    <div class="col-md-4 col-lg-6 col-xl-3">
    </div>
    <div class="col-md-4 col-lg-6 col-xl-3">
        <button class="btn btn-order-status">
            <span class="status-label">View Order Status</span></button>
    </div>
  </div>
  <app-join-family></app-join-family>

</div>
