<div class="page-content">
  <br />
  <div class="row">
    <div class="col-md-4 col-lg-6 col-xl-1"></div>
    <div class="col-md-4 col-lg-6 col-xl-10">
      <a [routerLink]="['/product']">Home > My Cart > </a> Checkout
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-4 col-lg-6 col-xl-1"></div>
    <div class="col-md-4 col-lg-6 col-xl-6">
      <div class="panel-group">
        <div class="panel panel-default checkout-card">
          <div class="panel-heading panel-header">
            <h4 class="panel-title">
              &nbsp;
              <a data-toggle="collapse" href="#collapse1">
                &nbsp;&nbsp;<span class="badge bg-light">1</span>
                <span class="panel-upload px-4 mt-3"
                  >Upload Prescription</span
                ></a
              >
              <a href="#" class="change-upload px-4 mt-2">CHANGE</a>
            </h4>
          </div>
          <div id="collapse1"
           class="panel-collapse collapse px-4">
            <div class="panel-body">
              <br />
              <div class="row">
                <div class="col-md-8">
                  <p class="upload-title px-4">Upload Prescription</p>
                  <p class="text-muted px-4">
                    Please attach a prescription to proceed
                  </p>
                  <div class="article-container">
                    <div class="article file-upload px-4">
                      <h3>
                        <i
                          class="fa fa-upload icon mt-4"
                          aria-hidden="true"
                        ></i>
                      </h3>
                    </div>
                    <div class="article p-2">
                      <h4>Upload New</h4>
                      <p class="text-muted label-text">
                        Prescription format should be added. JPEG/JPG/PNG/PDF)
                        version allowed.
                      </p>
                    </div>
                  </div>
                  <br />
                  <div class="article-container">
                    <div class="article file-upload px-4">
                      <h3><i class="fa fa-file" aria-hidden="true"></i></h3>
                    </div>
                    <div class="article p-2">
                      <h4>Select Prescription</h4>
                      <p class="text-muted label-text">
                        From Your Appoinment with Doctor
                      </p>
                    </div>
                  </div>
                  <hr />
                  <p class="text-muted">Attached Prescription</p>
                  <div class="article-container">
                    <div class="article file-upload px-4">
                      <h3><i class="fa fa-file" aria-hidden="true"></i></h3>
                    </div>
                    <div class="article p-2">
                      <p class="text-muted label-text">
                        From Your Appoinment with Doctor
                      </p>
                    </div>
                  </div>
                  <br />
                </div>
                <div class="col-md-3">
                  <p class="upload-title">Guide for a valid prescription</p>
                  <p class="text-muted">
                    Government regulations require a valid prescription
                  </p>
                </div>
              </div>
              <br />
              <hr />
              <div class="row">
                <div class="col-md-5">
                  <p>Don't have a prescription?</p>
                  <p class="text-muted">
                    Continue to get free telemedicine consultation with
                    registered medical practitioner.
                  </p>
                </div>
                <div class="col-md-7">
                  <button class="btn btn-consult">
                    <span class="consult-label"
                      >Continue with Doctor Consultation</span
                    >
                  </button>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                  <button class="btn btn-continue">
                    <span class="continue-label">CONTINUE</span>
                  </button>
                </div>
                <div class="col-md-4"></div>
              </div>
              <br />
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="panel-group">
        <div class="panel panel-default checkout-card">
          <div class="panel-heading panel-header">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#BillingDetails">
                &nbsp;&nbsp;<span class="badge bg-light">2</span>

                <span class="panel-upload px-4">Billing Details</span></a
              >
              <a href="#" class="change-upload px-4 mt-2">CHANGE</a>
            </h4>
          </div>
          <div id="BillingDetails" class="panel-collapse collapse px-4">
            <div class="panel-body">
              <br />
              <div class="row">
                <div class="col-md-7">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="flexCheckChecked"
                      checked
                    />
                    <label
                      class="form-check-label user-name"
                      for="flexCheckChecked"
                    >
                      Alwin Kishon Jesuraj
                    </label>
                  </div>
                  <p class="text-muted px-4">
                    No.380, PATC Quarters, Karaippettai, Kancheepuram
                    Kancheepuram TN 631552 IN
                  </p>
                </div>
                <div class="col-md-1"></div>

                <div class="col-md-3">
                  <p class="edit-detail">Edit</p>
                  <button class="btn btn-continue">
                    <span class="continue-label">CONTINUE</span>
                  </button>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-md-7">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="flexCheckDefault"
                    />
                    <label
                      class="form-check-label user-name"
                      for="flexCheckDefault"
                    >
                      Alwin Kishon Jesuraj &nbsp;
                      <button class="home-btn">Home</button>
                    </label>
                    <p class="text-muted px-4">
                      No.380, PATC Quarters, Karaippettai, Kancheepuram
                      Kancheepuram TN 631552 IN
                    </p>
                  </div>
                </div>
                <div class="col-md-1"></div>

                <div class="col-md-3">
                  <p class="edit-detail">Edit</p>
                  <button class="btn btn-continue">
                    <span class="continue-label">CONTINUE</span>
                  </button>
                </div>
              </div>
              <br /><br />
            </div>
            <hr />
            <p class="view-all">
              <i class="fa fa-angle-down"></i>

              View all 4 address
            </p>
            <hr />
            <br />
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4">
                <button class="btn btn-add-new">
                  <span class="addnew-label">Add New</span>
                </button>
              </div>
              <div class="col-md-4"></div>
            </div>
            <br /><br />
          </div>
        </div>
      </div>
      <br />
     
      <div class="panel-group" >
        <div class="panel panel-default checkout-card">
          <div class="panel-heading panel-header">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#ShippingDetails">
                &nbsp;&nbsp;<span class="badge bg-light">3</span>

                <span class="panel-upload px-4">Shipping Details</span></a
              >
              <a href="#" class="change-upload px-4 mt-2">CHANGE</a>
            </h4>
          </div>
          <div id="ShippingDetails" class="panel-collapse collapse px-4">
            <div class="panel-body">
              <br />
              <div class="row">
                <div class="col-md-5">
                  <p>Add New Address</p>
                </div>
                <div class="col-md-3"></div>

                <div class="col-md-4">
                  <p class="">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="flexCheckDefault"
                    />
                    Mark as Default
                  </p>
                </div>
              </div>
              <hr />

              <br />
              <div class="row">
                <div class="col-md-6">
                  <div class="form-check">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="FirstName"
                        aria-describedby="FirstNameHelp"
                        placeholder="First Name*"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      id="LastName"
                      aria-describedby="LastNameHelp"
                      placeholder="Last Name*"
                    />
                  </div>
                </div>
              </div>
              <br />
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-check">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      id="Phone"
                      aria-describedby="PhoneHelp"
                      placeholder="Phone*"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    aria-describedby="emailHelp"
                    placeholder="Email*"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-check">
                  <div class="form-group">
                    <select id="inputState" class="form-control">
                      <option selected>United States*</option>
                      <option>...</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="ZIPCode"
                    aria-describedby="ZIPCodeHelp"
                    placeholder="ZIP Code*"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="form-check">
                  <div class="form-group">
                    <select id="inputState" class="form-control">
                      <option selected>State*</option>
                      <option>...</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-check">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      id="City"
                      aria-describedby="CityHelp"
                      placeholder="City*"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="Apt"
                    aria-describedby="AptHelp"
                    placeholder="Apt / Floor / Suite*"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-check">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      id="Address"
                      aria-describedby="AddressHelp"
                      placeholder="Address*"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="Near"
                    aria-describedby="NearHelp"
                    placeholder="Near by Landmark (optional)"
                  />
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-1"></div>
              <p class="">Order notes (optional)</p>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group order-notes">
                  <textarea
                    class="form-control"
                    id="exampleFormControlTextarea1"
                    rows="3"
                  ></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <!-- <div><p>Address Type :</p></div> -->
              <div class="col-md-6">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="defaultCheck1"
                  />
                  <label
                    class="form-check-label address-type"
                    for="defaultCheck1"
                  >
                    Home (All Day Delivery)
                  </label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="defaultCheck1"
                  />
                  <label
                    class="form-check-label address-type"
                    for="defaultCheck1"
                  >
                    Work (Delivery Between 10AM - 5PM)
                  </label>
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4">
                <button class="btn btn-continue">
                  <span class="continue-label">CONTINUE</span>
                </button>
              </div>
              <div class="col-md-4"></div>
            </div>
            <br />
          </div>
        </div>
      </div>
      <br />
      <div class="panel-group" >
        <div class="panel panel-default checkout-card">
          <div class="panel-heading panel-header">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#OrderSummary">
                &nbsp;&nbsp;<span class="badge bg-light">4</span>

                <span class="panel-upload px-4">Order Summary</span></a
              >
              <a href="#" class="change-upload px-4 mt-2">CHANGE</a>
            </h4>
          </div>
          <div id="OrderSummary" class="panel-collapse collapse px-4">
            <div class="panel-body">
              <br />
              <div class="order-list"></div>
              <br />
              <div class="order-list"></div>
              <br />
              <div class="order-list"></div>
              <br />
              <div class="delivery-address"></div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4">
                <button class="btn btn-continue">
                  <span class="continue-label">CONTINUE</span>
                </button>
              </div>
              <div class="col-md-4"></div>
            </div>
            <br /><br />
          </div>
        </div>
      </div>
      <br />
      <div class="panel-group">
        <div class="panel panel-default checkout-card">
          <div class="panel-heading panel-header">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#PaymentOptions">
                &nbsp;&nbsp;<span class="badge bg-light">5</span>

                <span class="panel-upload px-4">Payment Options</span></a
              >
              <a href="#" class="change-upload px-4 mt-2">CHANGE</a>
            </h4>
          </div>
          <div id="PaymentOptions" class="panel-collapse collapse px-4">
            <div class="panel-body">
              <br />
              <div class="form-check">
                <input
                  class="form-check-input checkbox-card"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  Cash On Delivery
                </label>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-6">
                <a
                  class="btn btn-continue d-block"
                  [routerLink]="['/thankYou']"
                >
                  <span class="continue-label">Place Order</span>
              </a>
              </div>
              <div class="col-md-4"></div>
            </div>
            <br /><br />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-6 col-xl-4">
      <div class="checkout-card pl-4">
        <br />
        <div class="coupon-applied px-4">
          &nbsp;
          <p class="coupon-value">Coupon Applied :HGNEW21</p>
          <p class="text-muted">(Savings of $75.15)</p>
        </div>
        <hr />
        <p class="total-charges">Total Charges</p>
        <hr />
        <p>
          <span class="subtotal">Subtotal</span>
          <span class="subtotal-amount px-4">$150</span>
        </p>
        <p>Tax <span class="text-muted"> (Calculated in checkout)</span></p>
        <p>
          Shipping <span class="text-muted"> (free standard over $40)</span>
          <span class="free-label px-4"><a href="#"> Free</a></span>
        </p>
        <p>
          Giggle Points
          <span class="free-label px-4"><a href="#"> -$</a></span>
        </p>
        <hr />
        <p class="estimated-total">
          Estimated Total
          <span class="amount-total px-4">$125.25</span>
        </p>
        <hr />
        <br />
        <div class="discount">
          <p class="px-4">You Saved $75.25 on your Purchase</p>
          <hr />
          <p class="px-4">You will earn 100 Giggle Points with this purchase</p>
        </div>
        <br />
        <br />
      </div>
    </div>
    <div class="col-md-4 col-lg-6 col-xl-1"></div>
  </div>
  <br><br>
  <app-join-family></app-join-family>

  <!-- Parent Div Ends -->
</div>
